./data-cleaning-service/node_modules
./frontend/node_modules
./data-cleaning-service/dist
./frontend/dist
./frontend-admin/node_modules
./frontend-admin/dist
./frontend-admin-new/node_modules
./frontend-admin-new/dist
